<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_opengl">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.capture"/>
    <uses-feature android:name="android.hardware.capture.autofocus"/>
    <uses-feature android:name="android.hardware.capture.front"/>
    <uses-feature android:name="android.hardware.capture.front.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


</manifest>
